#lpBody { color: black; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 700; line-height: 32px; margin: 0 0 24px; text-align: left;}

#rightPanel {
	background: 
	linear-gradient(
      rgba(255, 255, 255, 0.70), 
      rgba(255, 255, 255, 0.70)
    ),
	url("BG.jpg");
	background-repeat: no-repeat;
	height: 95%;
	width: 100%;
	text-align: center;
}

#footer {
	height: 5%;	
	color: #001f3f; font-family: 'Raleway',sans-serif; font-size: 12px; font-weight: 300; line-height: 20px; margin: 0 0 24px; 
	text-align: center;
}

#lpHeader { color: black; font-family: 'Raleway',sans-serif; font-size: 84px; font-weight: 800; line-height: 72px; margin: 0 0 60px; text-align: center; text-transform: uppercase; }

#lpHeader2 { color: black; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 36px; margin: 0 0 24px; text-align:}

#lpBodyBold { color: black; font-family: 'Raleway',sans-serif; font-size: 18px; font-weight: 800; line-height: 32px; margin: 0 0 24px;}

#form { color: black; font-family: 'Raleway',sans-serif; font-size: 14px; font-weight: 300; margin: 0 0 24px;}

#a { color: #c8c8c8; text-decoration: underline; }

#bg { background-color: #F8F8F8; opacity: .75;}

a:hover { color: #1c1c1c; text-decoration: underline; }

#buttonPlace { text-align: left;}
